.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  place-items: center;
}

.Grid img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.MainBox {
  padding: 10px 10px 60px 10px;
  background-color: #eeeeee;
  border: solid;
}

.SearchBar {
  margin: 10px 10px 10px 0;
}

.Center {
  height: calc(100% - 31.5px);
  display: grid;
  place-items: center;
}

.App {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 910px) {
  .Grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
